* {
    box-sizing: border-box;
}


body{
    margin: 0;
    
}

.nav{
    background: #91C9AA;
    height: 55px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.navbar-img{
    width: 20px;
    height: 20px;
    margin-top: 18px;
}

.navbar-title{
    margin-top: 18px;
}

.card{
    width: 300px;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 60px;
    margin: 60px;
}

.card-info{
    margin-top: 15px;
}

.card-img{
    width: 250px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.card-description{
    width: 326px;
    font-size: 10px;
    line-height: 15px;
    text-align: justify;
    margin-top: 10px;
}

.card-title{
    font-size: 25px;
    line-height: 3px;
    margin-top: 15px; 
    font-weight: 700;
       
}

.card-location{
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #2B283A;
    font-weight: 400;
    width: 7px;
    display: inline-block; 
    margin-left: 5px;     
}

.card-dates{
    font-size: 10.24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-maps{
    color: #918E9B;
    font-size: 10.24px;
    font-weight: 400;
    text-decoration-line: underline;
    margin-left: 38px;
}




